# Ignore Python cache files
__pycache__
*.pyc
*.pyo

# Ignore environment files
.env

# Ignore Docker-related files
Dockerfile*
docker-compose.yml

# Ignore logs
*.log
logs/
policyenv
notebooks
ruff.toml